:root {
  --size14px: 0.875rem;
  --size16px: 1rem;
  --size18px: 1.125rem;
  --size19px: 1.2rem;
  --size20px: 1.25rem;
  --size22px: 1.375rem;
  --size24px: 1.5rem;
  --size26px: 1.625rem;
  --size28px: 1.75rem;
  --size30px: 1.875rem;
  --size32px: 2rem;

  --gradient-one: #ebe9f7;
  --gradient-two: #f0eef9;
  --gradient-three: #ffffff;
  --light-gray: #bab9c2;
}

h2 {
  padding: var(--size14px) 0rem;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
